<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8">
</head>
<body>
      
      <form th:object="${user}" th:action="@{/register}" th:method="POST">
        
          <div th:if="${#fields.hasErrors('*')">
              <ul>
                <li th:each="err : ${#fields.errors('*')" th:text="${err}"></li>
              </ul>
          </div>
        
          <label>Username</label>
          <input type="text" th:field="*{username}">
          <br>
          <label>Email</label>
          <input type="text" th:field="*{email}">
          <br>
          <label>Password</label>
          <input type="text" th:field="*{password}">
          <br>
          <label>Confirm Password</label>
          <input type="text" th:field="*{matchedPassword}">
        
      </form>
      
</body>
</html>
